.MegaNumbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Mega input {
  font-size: 1.4rem;
  width: 40px;
  background-color: #EEE;
  border-top: #EEE;
  border-left: #EEE;
  border-right: #EEE;
}

.Mega #rangeStart {
  margin-right: 15px;
}